* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 font-weight: 500;
 position: relative;
}

*::selection {
 background-color: #333;
 color: whitesmoke;
}

:root {
 --peach: #f2e5d7;
 --hover: rgb(83, 80, 80);
 --star-unicode: \2B50;
}

::-webkit-scrollbar {
 width: 10px;
 border-radius: 10px;
 background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background-color: rgb(233, 203, 163);
}

body {
 width: 100%;
 overflow: auto;
 overflow-x: hidden;
 height: auto;
}

/*----------------------Div 1--------------------------------*/

.info {
 align-items: center;
 width: auto;
 height: auto;
 box-sizing: border-box;
 border: 0;
 border-radius: 0.5vw;
 background-color: var(--peach);
 display: flex;
 justify-content: space-between;
 font-weight: 400;
}
.info p:first-child{
 margin-left: 1vw;
}
.info p {
 padding: 0;
 font-size: 1.2vw;
}

.info span p {
 display: inline-block;
 padding-right: 10px;
 cursor: pointer;
 text-decoration: none;
 color: black;
}

.info span p:hover {
 color: var(--hover);
}

/*----------------------Div 2--------------------------------*/
.logo {
 box-sizing: border-box;
 border: 0;
 width: 100%;
 height: auto;
 display: flex;
 justify-content: space-around;
 margin-top: -0.6vw;
}

.logo img {
 width: 10vw;
 padding: 1vw 0;
}

input[type="search"] {
 position: relative;
 text-indent: 2vw;
 width: 50vw;
 height: 2vw;
 text-transform: capitalize;
 font-size: 1.2vw;
 font-weight: 500;
 outline: none;
 margin-top: 3vw;
 padding: 0 1vw;
 border-radius: 2vw;
 border: 0;
 background-color: var(--peach);
}

input[type="search"]::placeholder {
 background-image: url(/img/Search.png);
 background-size: cover;
 background-repeat: no-repeat;
 font-size: 1.2vw;
 font-weight: 500;
 background-size: 1.4vw;
 color: #333;
 background-color: var(--peach);
}

.user img {
 margin-top: 1.7vw;
 width: 2.5vw;
 cursor: pointer;
}

.hr1 {
 margin: 0 0.3vw 0.2vw;
}

/*----------------------Div 3--------------------------------*/
.nav {
 position: sticky;
 top: 1vw;
 z-index: 1;
}

.nav ul {
 margin: 0;
 margin-bottom: 1vw;
 border-radius: 8px;
 text-align: center;
 list-style-type: none;
 background-color: antiquewhite;
}

.nav ul li {
 display: inline-flex;
 margin: 0 3vw;
 font-size: 1.3vw;
 box-sizing: border-box;
}

.nav ul li a {
 padding: 0.6vw 1.3vw;
 text-decoration: none;
 color: black;
}

.nav ul li a:hover {
 text-decoration: underline;
 color: #333;
}

.sub-menu-1 {
 display: none;
}

.nav ul li:hover .sub-menu-1 {
 position: absolute;
 z-index: 1;
 display: block;
 background-color: antiquewhite;
 width: 12vw;
 margin-top: 2vw;
 margin-left: -1.2vw;
 padding: 0;
}

.nav ul li:hover .sub-menu-1 ul li {
 width: 12vw;
 margin-left: 1.3vw;
 border-bottom: 0.1vw dotted;
 margin: 0;
 box-sizing: border-box;
}

.nav ul li:hover .sub-menu-1 ul li:nth-child(4) {
 border-bottom: none;
 align-content: center;
}

.hover-me .fa {
 float: right;
 top: 0.2vw;
 margin-left: 3.5vw;
}

.sub-menu-2 {
 display: none;
}

.hover-me:hover .sub-menu-2 {
 position: absolute;
 display: block;
 width: 12vw;
 background-color: antiquewhite;
 margin-left: 12.05vw;
}

/*----------------------Div 4--------------------------------*/
