* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 font-weight: 500;
 position: relative;
}

*::selection {
 background-color: #333;
 color: whitesmoke;
}

:root {
 --peach: #f2e5d7;
 --hover: rgb(83, 80, 80);
 --star-unicode: \2B50;
}

::-webkit-scrollbar {
 width: 10px;
 border-radius: 10px;
 background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background-color: rgb(233, 203, 163);
}

body {
 width: 100%;
 overflow: auto;
 overflow-x: hidden;
 height: auto;
}

/*----------------------Div 1--------------------------------*/

.info {
 align-items: center;
 width: auto;
 height: auto;
 box-sizing: border-box;
 border: 0;
 border-radius: 0.5vw;
 background-color: var(--peach);
 display: flex;
 justify-content: space-between;
 font-weight: 400;
}
.info p:first-child{
 margin-left: 1vw;
}
.info p {
 padding: 0;
 font-size: 1.2vw;
}

.info span p {
 display: inline-block;
 padding-right: 10px;
margin-left: 2vw;
 cursor: pointer;
 text-decoration: none;
 color: black;
}

.info span p:hover {
 color: var(--hover);
}

/*----------------------Div 2--------------------------------*/
.logo {
 box-sizing: border-box;
 border: 0;
 width: 100%;
 height: auto;
 display: flex;
 justify-content: space-around;
 margin-top: -0.6vw;
}

.logo img {
 width: 10vw;
 padding: 1vw 0;
}

input[type="search"] {
 position: relative;
 text-indent: 2vw;
 width: 50vw;
 height: 2vw;
 text-transform: capitalize;
 font-size: 1.2vw;
 font-weight: 500;
 outline: none;
 margin-top: 3vw;
 padding: 0 1vw;
 border-radius: 2vw;
 border: 0;
 background-color: var(--peach);
}

input[type="search"]::placeholder {
 background-image: url(./img/Search.png);
 background-size: cover;
 background-repeat: no-repeat;
 font-size: 1.2vw;
 font-weight: 500;
 background-size: 1.4vw;
 color: #333;
 background-color: var(--peach);
}

.user img {
 margin-top: 1.7vw;
 width: 2.5vw;
 cursor: pointer;
}

.hr1 {
 margin: 0 0.3vw 0.2vw;
}

/*----------------------Div 3--------------------------------*/
.nav {
 position: sticky;
 top: 0.1vw;
 z-index: 1;
}

.nav ul {
 margin: 0;
 margin-bottom: 1vw;
 border-radius: 8px;
 text-align: center;
 list-style-type: none;
 background-color: antiquewhite;
}

.nav ul li {
 display: inline-flex;
 margin: 0 3vw;
 font-size: 1.3vw;
 box-sizing: border-box;
}

.nav ul li a {
 padding: 0.6vw 1.3vw;
 text-decoration: none;
 color: black;
}

.nav ul li a:hover {
 text-decoration: underline;
 color: #333;
}

.sub-menu-1 {
 display: none;
}

.nav ul li:hover .sub-menu-1 {
 position: absolute;
 z-index: 1;
 display: block;
 background-color: antiquewhite;
 width: 12vw;
 margin-top: 2vw;
 margin-left: -1.2vw;
 padding: 0;
}

.nav ul li:hover .sub-menu-1 ul li {
 width: 12vw;
 margin-left: 1.3vw;
 border-bottom: 0.1vw dotted;
 margin: 0;
 box-sizing: border-box;
}

.nav ul li:hover .sub-menu-1 ul li:nth-child(4) {
 border-bottom: none;
 align-content: center;
}

.hover-me .fa {
 float: right;
 top: 0.2vw;
 margin-left: 3.5vw;
}

.sub-menu-2 {
 display: none;
}

.hover-me:hover .sub-menu-2 {
 position: absolute;
 display: block;
 width: 12vw;
 background-color: antiquewhite;
 margin-left: 12.05vw;
}

/*----------------------Div 4--------------------------------*/

.delivery {
 margin: 0 8px;
 padding: 5px 0;
 display: flex;
 justify-content: space-between;
}

.delivery p {
 margin: 0 1vw;
 font-size: 1.2vw;
}

hr {
 margin: 0 1vw 1vw;
}

/*----------------------Div 5--------------------------------*/

.container {
 width: auto;
 height: 50vw;
 margin: 0 0.2vw;
 background: url(./img/bday.png) no-repeat;
 border-radius: 1vw;
 background-size: 100%, 0;
 display: flex;
}

.column-1 {
 display: block;
 block-size: 25%;
 margin: 15vw 0 0 5vw;
}

.column-1 h1 {
 font-size: 5vw;
 font-weight: 500;
 color: whitesmoke;
}

.column-1 h2 {
 font-size: 2.5vw;
 margin-top: 10px;
 color: whitesmoke;
}

.btn {
 min-width: 4vw;
 height: 3vw;
 color: #333;
 padding: 1vw 2vw;
 margin-top: 3vw;
 font-size: 1.6vw;
 cursor: pointer;
 transition: all 0.3s ease;
 position: relative;
 display: inline-block;
 outline: none;
 overflow: hidden;
 border-radius: 1vw;
 border: none;
 background-color: antiquewhite;
}

.btn:hover {
 border-radius: 1vw;
 padding-right: 5vw;
 padding-left: 1vw;
}

.btn:hover:after {
 opacity: 1;
 right: 1vw;
}

.btn:after {
 content: "\00BB";
 position: absolute;
 opacity: 0;
 font-size: 1.8vw;
 line-height: 2.9vw;
 top: 0;
 right: -1vw;
 transition: 0.6s;
}

/*----------------------Div 6--------------------------------*/

.more {
 box-sizing: border-box;
 width: auto;
 height: auto;
 display: block;
 margin-top: -11vw;
 text-align: center;
 line-height: 3.6vw;
 color: #333;
 padding: 1vw;
}


.more h3 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 font-size: 3.4vw;
 letter-spacing: 0.3vw;
}

.more p {
 font-size: 2vw;
}


/*----------------------Div 7--------------------------------*/

.pics {
 box-sizing: border-box;
 /* margin: 100vw 300px 0; */
 display: flex;
 margin: 0;
}

.pics-2 {
 box-sizing: border-box;
 margin: -0.5vw -0.1vw 0;
 display: flex;
}

.pic-1,.pic-2,.pic-3,.pic-4 {
 background-size: cover;
 width: 1vw;
 height: 35vw;
 margin: 0.6vw;
 flex: 50%;
}

.like {
 position: absolute;
 top: 2vw;
 left: 5vw;
 background: none;
 cursor: pointer;
 border: none;
}

.like img{
 width: 3vw;
}

.like img:hover{
 transition: all linear 0.4s;
 transform: scale(1.07);
}
.pic-1 {
 background: url(./img/Sky\ cakes.jpg) no-repeat;
}

.pic-2 {
 background: url(./img/Fill-You-Own-Personalised-Cupcakes.jpg) no-repeat;
}

.pic-3 {
 background: url(./img/Personalised-Cupcakes.jpg) no-repeat;
}

.pic-4 {
 background: url(./img/google.jpg) no-repeat;
}

.pic-1 h3,.pic-2 h3,.pic-3 h3,.pic-4 h3 {
 margin: 20vw 0 0 2vw;
 font-size: 2.7vw;
 color: whitesmoke;
 background-color: #333;
 font-weight: 600;
}
.pic-1 h3{
 width: 18vw;
}

.pic-2 h3{
 width: 20.5vw;
}

.pic-3 h3{
 width: 22.6vw;
}

.pic-4 h3{
 width: 20vw;
}
.bttn {
 position: relative;
 margin-left: 2vw;
 margin-top: 3vw;
 bottom: 0;
 width: 16vw;
 height: 4vw;
 color: #333;
 padding: 0.2vw 1vw;
 font-size: 1.3vw;
 cursor: pointer;
 transition: all 0.3s ease;
 position: relative;
 display: inline-block;
 outline: none;
 overflow: hidden;
 border-radius: 1vw;
 border: none;
 background-color: antiquewhite;
}

.bttn:hover {
 border-radius: 1vw;
 padding-right: 2vw;
 padding-left: 1vw;
 padding-top: -30vw;
 width: 17vw;
 background-color: #333;
 color: antiquewhite;
}

.bttn:hover:after {
 opacity: 1;
 right: 1vw;
}

.bttn:after {
 content: "\00BB";
 position: absolute;
 opacity: 0;
 font-size: 1.7vw;
 line-height: 3.6vw;
 top: 0;
 right: -2vw;
 transition: 0.6s;
}

/*----------------------Div 6 (Same CSS)--------------------------------*/

.more2 {
 box-sizing: border-box;
 width: auto;
 height: auto;
 display: block;
 margin-top: 1vw;
 text-align: center;
 line-height: 3.6vw;
 color: #333;
 padding: 1vw;
}

.more2 h3 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
 font-size: 3.4vw;
 letter-spacing: 0.3vw;
}

.more2 p {
 font-size: 2vw;
}

/*----------------------Div 8--------------------------------*/
.d-block {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.block-1:hover,
.block-2:hover,
.block-3:hover,
.block-4:hover {
 transition: ease-in-out 1s;
 transform: scale(1.1);
}

.block-1 {
 background: url(./img/Logo-Cupcakes.jpg) no-repeat;
}

.block-2 {
 background: url(./img/Message-Cupcakes.jpg) no-repeat;
}

.block-3 {
 background: url(./img/Photo-Cupcakes.jpg) no-repeat;
}

.block-4 {
 background: url(./img/Fill-Your-Own-Cupcakes.jpg) no-repeat;
}

.block-1, .block-2, .block-3, .block-4{
 background-size: contain;
 height: 29vw;
 width: 20vw;
 margin-bottom: 2vw;
 border-radius: 2vw;
}
.frame {
 box-sizing: border-box;
}

.frame h4,
p {
 margin-left: -0.9vw;
}

.frame h4 {
 font-size: 1.9vw;
 font-weight: 600;
 line-height: 2.4vw;
}

.frame p {
 font-size: 1.4vw;
 font-weight: 600;
 color: red;
}

.frame h4:nth-child(1) {
 margin: 0;
}

.frame p:nth-child(1) {
 margin: 0;
}

.frame h4:nth-child(4) {
 margin: 0;
}

.frame h4:nth-child(4) {
 margin: 0;
}

.frame .star {
 margin-top: 2vw;
 font-size: 1.6vw;
 border: 0;
 outline: none;
 color: gold;
 letter-spacing: 0.4vw;
}

.frame .rating {
 color: rgb(44, 44, 220);
 letter-spacing: 0;
 font-size: 1.5vw;
}

/*----------------------Div 9--------------------------------*/


.footer1 {
 display: flex;
 justify-content: space-between;
 margin: 3vw 0 0 1vw;
}

.footer1 h2 {
 font-size: 2.4vw;
 line-height: 4vw;
}

.shop p {
 text-decoration: none;
 color: #333;
 font-size: 1.4vw;
 line-height: 2.5vw;
 left: 1vw;
 cursor: pointer;
}

.shop p:hover {
 color: black;
}

.socials {
 top: -1vw;
 right: 2vw;
}

.socials img:not(.social img) {
 width: 13vw;
 right: -9vw;
}

.socials p {
 color: #333;
 font-size: 1.5vw;
 text-align: right;
 text-decoration: none;
 margin: 1vw 0;
}

.socials .social img {
 margin-top: 2vw;
 width: 3vw;
 gap: 7vw;
 margin-left: 1vw;
}

.socials .social img:hover {
 transition: ease-in-out 0.4s;
 transform: scale(1.3);
 gap: 1vw;
}

/*----------------------Div 11 (FOOTER)--------------------------------*/

footer {
 display: flex;
 justify-content: space-between;
 margin: 1vw 0;
}

footer p {
 display: inline-flex;
 color: #333;
 text-decoration: none;
 cursor: pointer;
 line-height: 0.2vw;
 font-size: 1.4vw;
 margin: 0.2vw 0;
 left: 0.2vw;
 margin-left: 1vw;
}

footer p:hover {
 color: black;
 text-decoration: underline;
}

.extra1 .divider {
 padding-left: 1vw;
}

footer .extra2 {
 right: 1vw;
 font-size: 1.4vw;
 color: #333;
}

/*----------------------Div 12--------------------------------*/